<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
       </startup>
    <connectionStrings>
      <add name="GitConnection" connectionString="Data Source=HNJPFMDSRV01;Initial Catalog=DevOpsDemo;Integrated Security=True"/>
  </connectionStrings>
</configuration>